* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  background-color: #001;
  padding: 22px 0;
}
.header-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-right: 89px;
}
.logo-img {
  margin-right: 15px;
}
.logo-name {
  font-style: normal;
  font-weight: 600;
  font-size: 22.5455px;
  line-height: 31px;
  color: #3a68b8;
}
.header-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header-list-item {
  margin-right: 40px;
}
.header-list-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.header-button {
  margin-left: auto;
}
.button {
  padding: 15px 30px;
  background: #3a68b8;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.hero {
  padding: 50px 0 90px;
  background-color: #010714;
}
.hero-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.hero-text {
  max-width: 604px;
}
.hero-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: #3a68b8;
}
.hero-title {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 40px;
}
.description {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}
.hero-description {
  max-width: 558px;
  margin-bottom: 50px;
}
.buttons {
  display: flex;
  align-items: center;
}
.hero-button--1 {
  margin-right: 20px;
}
.hero-button--2 {
  display: inline-flex;
  align-items: center;
}
.play-button {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}
.hero-name {
  white-space: nowrap;
}
.hero-img {
  width: 632px;
  height: 634px;
  margin-left: auto;
}
.logos-ipsum {
  background-color: #010714;
  padding-bottom: 100px;
}
.logos-ipsum-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more {
  background-color: #001;
  padding-top: 130px;
  padding-bottom: 170px;
}
.more-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.more-img {
  width: 725px;
  height: 670px;
  margin-top: 25px;
  margin-right: 68px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 0;
}
.more-title {
  margin-bottom: 30px;
  max-width: 484px;
}
.more-description {
  margin-bottom: 50px;
  max-width: 460px;
  font-size: 16px;
}
.slider {
  padding-bottom: 235px;
  background-color: #010714;
  color: #fff;
}
.slider-container {
  max-width: 1350px;
  margin: auto;
}
.slide-card {
  max-width: 362px;
  min-height: 390px;
  background-color: #25262a;
  border-radius: 10px;
}
.slide-card-wrapper {
  padding: 47px 30px 30px;
  text-align: center;
}
.slide-card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 125%;
  color: #ffffff;
  opacity: 0.7;
  max-width: 302px;
  margin-bottom: 30px;
  margin-top: 47px;
}
.slide-card-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  max-width: 302px;
}
.about {
  background-color: #010714;
  padding-bottom: 180px;
}
.about-container {
  max-width: 1350px;
  margin: auto;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
.about-title {
  max-width: 548px;
}
.about-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  max-width: 460px;
}
.about-description--1,
.about-description--2,
.about-description--3 {
  margin-bottom: 20px;
}
.footer {
  padding-top: 77px;
  padding-bottom: 146px;
  background-color: #001;
}
.footer-container {
  max-width: 1140px;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer-col--1 {
  text-align: left;
  max-width: 284px;
  min-height: 284px;
}
.footer-logo-img {
  width: 45px;
  height: 58px;
  margin-bottom: 7px;
}
.footer-logo-name {
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3a68b8;
  margin-bottom: 10px;
  margin-top: 0;
}
.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 37px;
  margin-top: 0;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-gmail,
.footer-phone,
.footer-address {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer-gmail-img,
.footer-address-img,
.footer-phone-img {
  margin-right: 10px;
}
.footer-gmail-name,
.footer-address-name,
.footer-phone-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.footer-nav-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 32px;
  margin-bottom: 32px;
  text-transform: uppercase;
}
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-list-item {
  margin-bottom: 20px;
}
.footer-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-col--2,
.footer-col--3,
.footer-col--4 {
  max-width: 165px;
}
.footer-col--5 {
  max-width: 267px;
}
.footer-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 21px;
  display: block;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social-img {
  margin-right: 25px;
  margin-bottom: 53px;
}
.footer-lang {
  display: flex;
  align-items: center;
}
.footer-lang-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 10px;
}
